@{
    ViewData["Title"] = "Result";
}

<div class="container h-100 justify-content-center align-content-center">
    <h1 class="text-center">The patient evaluation for Diabetes is @ViewData["Result"]?.ToString()?.ToLower()</h1>
</div>